<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a class="head" href="/">Home</a>
      <a class="head" href="/flights">View All Flights</a>
      <a href="/flights/new">Add New Flight</a>
    </header>
    <h1><%= title %></h1>
    