body {
  display: flex;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2e8cf;
  width: 100%vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 7vmin;
}

h3{
  font-size: 4vmin;
  color: #386641;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #bc4749;
  font-size: 3vmin;
  color: white;
  gap: 3vmin;
  padding-top: 1vmin;
  padding-bottom: 2.5vmin;
  margin-top: -1.25vmin;
  width: 100vw;
}

header>a {
  color: white;
  padding-right: 2.5vmin;
}

header>a:hover{
  color: #386641;
}

.head {
  border-right: 0.5vmin solid white;
}


table {
  table-layout: auto;
  width: 75%;
  border-collapse: collapse;
  border: 0.75vmin solid black;
}

thead>*{
  border-bottom: 0.75vmin solid black;
  font-weight: bolder;
  font-size: 3vmin;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 40%;
}

th, td{
  padding: 2vmin;
  border: 0.25vmin solid black;
  text-align: center;
}


#show-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
}

#show-page>div:nth-child(even){
  background-color: #a7c957;
}

#show-page>div:nth-child(odd){
  background-color: #6a994e;
  font-weight: bold;
}

#show-page>div{
  flex: 1 1 50%;
  border: 0.25vmin solid black;
  font-size: 2.5vmin;
}

#new-ticket{
  color: black;
  background-color: #EFEFEF;
  border: 0.2vmin solid #767676;
  padding: 1vmin 2vmin 1vmin 2vmin;
  border-radius: 0.5vmin;
}

#delete-flight>button{
  width: 19.5vmin;
  font-size: 2.25vmin;
  height: 5.1vmin;
}

#buttons{
  display: flex;
  gap: 2vmin;
  margin-left: -5vmin;
  justify-content: center;
}

#new-flight{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 3vmin;
}

#new-flight>button{
  font-size: 3vmin;
}